@model WeatherViewModel.Location

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />


<p>Şehir: @Model.city</p>
<p>Ülke: @Model.country</p>
<p>Zaman Dilimi: @Model.timezone_id</p>
<p>Enlem: @Model.lat</p>

